// COLORS
$beige: #ba9866;
$dark: #111;
$light: #eee;
$transparent-white: rgba(255, 255, 225, .7);
$transparent-dark: rgba(17, 17, 17, .95);

// IMAGES
$bg-portrait: url("/img/mapportrait.jpg");
$bg-landscape: url("/img/maplandscape.jpg");
$bg-desktop: url("/img/theodolite.jpg");

// OTHERS
$font-family: 'Raleway',
sans-serif;
$max-width: 1024px;